<form class="example-form" (ngSubmit)='onConfirm()'>
  <h2 mat-dialog-title>Update the Student info</h2>
  <mat-dialog-content mat-typography>
      <mat-form-field class="example-full-width">
        <!-- <mat-label>Student Information</mat-label> -->
        <input matInput placeholder="Roll Number" [value]='this.rollno' (change)="updaterollno($event)">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <!-- <mat-label>Student Information</mat-label> -->
        <input matInput placeholder="Name" [value]='this.name' (change)="updateName($event)" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <!-- <mat-label>Student Information</mat-label> -->
        <input matInput placeholder="Age" [value]='this.age' (change)="updateage($event)" >
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="onDelete()">    
      <mat-icon>delete</mat-icon>
      Delete
    </button>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)='onConfirm()' type="submit">Confirm</button>
  </mat-dialog-actions>     
</form>
