h3 {
  font-size: x-large;
}

.card {
  background-color: #ffffff;
  margin: 1rem 2rem;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.completed {
  background-color:rgba(0, 0, 0, 0.2) ;
  margin: 1rem 2rem;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.content {
  flex: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  min-width: 2rem;
  min-height: 2rem;
  cursor: pointer;
}

.deleteButton{
  position: absolute;
  right:5rem
}